_______________________________________________<br>
<router-outlet></router-outlet>
<h2>Navegacion:</h2><br>
<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/about">About</a></li>
</ul>
_______________________________________________<br>
<app-hola-hack></app-hola-hack>
_______________________________________________<br>

<ul>
    <app-user *ngFor="let user of users" [nameUser]="user"></app-user>  
</ul>
<h3 *ngIf="activated">Esta activado</h3>
_______________________________________________<br>
<!--Logica de variables-->
Variables
<div>
  <p>name: {{name}}</p>
  <p>street: {{address.street}}</p>
  <p>City: {{address.city}}</p>
  <ul>
    <li *ngFor="let h of hobbies">{{h}}</li>
  </ul>
</div>
_______________________________________________<br>
<!--Agregar usuario con formulario-->

Agregar usuario
  <form (submit)="agregarUsuario(nuevoUsuario)">
    <input type="text" #nuevoUsuario>
      <button>Agregar usuario</button>
  </form>
<!--Agregar usuario con formulario-->

<!--Acciones con boton-->
  <ul>
    <li *ngFor="let u of usuarios" >
        {{u}}
        <button (click)="sayHello(u)">Hola {{u}}</button>
        <button (click)="deleteUser(u)">Borrar {{u}}</button>
    </li>
  </ul>

<!--Acciones con boton-->
_______________________________________________<br>

<!--Formulario para editar un dato de usuario-->
<div>
  <form>
    <input type="text" name="nombre" [(ngModel)]="nombre"><br>
    <input type="text" name="edad" [(ngModel)]="edad">
  </form>
  
  Nombre {{nombre}}<br>
  Edad: {{edad}}
</div>
<!--Formulario para editar un dato de usuario-->
_______________________________________________<br>
<!--https://jsonplaceholder.typicode.com/posts-->
<div *ngFor="let post of posts">
  <h3>{{post.title}}</h3>
  <p>{{post.body}}</p>
</div>
<!--https://jsonplaceholder.typicode.com/posts-->
