<app-hola-hack></app-hola-hack>
<ul>
    <app-user *ngFor="let user of users" [nameUser]="user"></app-user>  
</ul>
<h3 *ngIf="activated">Esta activado</h3>
<!--Logica de variables-->
Variables
<div>
  <p>name: {{name}}</p>
  <p>street: {{address.street}}</p>
  <p>City: {{address.city}}</p>
  <ul>
    <li *ngFor="let h of hobbies">{{h}}</li>
  </ul>
</div>
<!--Acciones con boton-->
  <ul>
    <li *ngFor="let u of usuarios" >
        {{u}}
        <button (click)="sayHello(u)">Hola {{u}}</button>
        <button (click)="deleteUser(u)">Borrar {{u}}</button>
    </li>
  </ul>

<!--Acciones con boton-->